#cont {
	display: flex;
	height: 100%;
}
#model {
	background-color: #BBBBBB;
	border-radius: 15px;
}
button {
	border: 0px solid #cccccc;
	padding: .6em .6em;
	border-radius: .6em;
	background-color: #c5c4c4;
	transition: 1s;
}
button:hover {
	background-color: #888888;
}